In [1]:
print("Hello World")

Hello World

In [2]:
x=10
y=12.34
z="Rohit Maity"

In [3]:
id(x)

1353100558864

In [4]:
id(y)

1353164192208

In [5]:
id(z)

1353168367344

In [6]:
a=x

a is x

True

In [7]:
x is a

True

In [8]:
a=10
x=10

a is x

True

In [10]:
a=10
b=12.34
c=3+6j
d="Rohit Maity"
e=[1,2,3,4,5]
f=(1,2,3,4,5)
g={1:"Rohit Maity",2:"Romela Dutta",3:"Roshnita Dutta"}
h={1,2,3,4,5,6}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [11]:
int_to_float=float(a)
print(int_to_float)
float_to_int=int(b)
print(float_to_int)

list_to_tuple=tuple(e)
print(list_to_tuple)
tuple_to_list=list(f)
print(tuple_to_list)

10.0
12
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

String Datatype Methods

In [15]:
str="Rohit Maity"

#simple for loop for iteration
for var in str:
    print(var)

# Indexing in the string
for var in range(len(str)):
    print(str[var])

R
o
h
i
t

M
a
i
t
y
R
o
h
i
t

M
a
i
t
y

In [20]:
#string splicing
str[0:10]

'Rohit Mait'

In [21]:
str[3:6]

'it '

In [22]:
# string splicing using index 
str[0:10:2]

'RhtMi'

In [23]:
str.upper()

'ROHIT MAITY'

In [24]:
str.lower()

'rohit maity'

In [25]:
str.capitalize()

'Rohit maity'

In [28]:
str.center(12,"-")

'Rohit Maity-'

In [29]:
str.split(" ")

['Rohit', 'Maity']

In [30]:
tuple(str.split(" "))

('Rohit', 'Maity')

In [31]:
str="Rohit-Maity-is-a-programmer"

print(str.split("-"))

['Rohit', 'Maity', 'is', 'a', 'programmer']

In [33]:
str1="Rohit Maity"
str2="is a good Programmer"

print(str1+str2)
print(str1+ " " +str2)

Rohit Maityis a good Programmer
Rohit Maity is a good Programmer

Introduction to Lists

In [34]:
a=[1,2,3,4,5]
b=[10,12,13,14,15]

a is b

False

In [45]:
a.append(13) #append means adding a value to the end of the list
print(a)

[1, 2, 3, 4, 5, 13, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 13]

In [46]:
a.extend(b) # extend a list with a container such as list tuples dict etc
print(a)

[1, 2, 3, 4, 5, 13, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 10, 12, 13, 14, 15, 13, 10, 12, 13, 14, 15]

In [47]:
a.count(10) # return sthe number of times a value appears in the list

5

In [49]:
a.index(10) # finding index of value

6

In [53]:
print(list.reverse(a))

None

In [54]:
a=[1,2,3,4,[1,2,3,4,[1,2,3,4,5]]]
print(a)

[1, 2, 3, 4, [1, 2, 3, 4, [1, 2, 3, 4, 5]]]

In [57]:
for var in a:
    print(var)

1
2
3
4
[1, 2, 3, 4, [1, 2, 3, 4, 5]]

In [60]:
a.remove(1)
print(a)

[2, 3, 4, [1, 2, 3, 4, [1, 2, 3, 4, 5]]]

Math Module in Python

In [61]:
import math as mt

In [74]:
print(mt.pi) # value of pi

3.141592653589793

In [75]:
print(mt.tau) # value of tau

6.283185307179586

In [76]:
print(mt.e) # value of exponential

2.718281828459045

In [77]:
print(mt.inf) # value of infinity

inf

In [66]:
print(mt.nan)

nan

In [67]:
mt.factorial(10) # factorial of the number

3628800

In [72]:
for var in range(10):
    print("The factorial of {} is {}".format(var,mt.factorial(var))) 
    print("The ceil of factorial of {} is {}".format(var,mt.ceil(mt.factorial(var))))
    print("The floor of factorial of {} is {}".format(var,mt.floor(mt.factorial(var))))
    print("The trunc of factorial of {} is {}".format(var,mt.trunc(mt.factorial(var))))

The factorial of 0 is 1
The ceil of factorial of 0 is 1
The floor of factorial of 0 is 1
The trunc of factorial of 0 is 1
The factorial of 1 is 1
The ceil of factorial of 1 is 1
The floor of factorial of 1 is 1
The trunc of factorial of 1 is 1
The factorial of 2 is 2
The ceil of factorial of 2 is 2
The floor of factorial of 2 is 2
The trunc of factorial of 2 is 2
The factorial of 3 is 6
The ceil of factorial of 3 is 6
The floor of factorial of 3 is 6
The trunc of factorial of 3 is 6
The factorial of 4 is 24
The ceil of factorial of 4 is 24
The floor of factorial of 4 is 24
The trunc of factorial of 4 is 24
The factorial of 5 is 120
The ceil of factorial of 5 is 120
The floor of factorial of 5 is 120
The trunc of factorial of 5 is 120
The factorial of 6 is 720
The ceil of factorial of 6 is 720
The floor of factorial of 6 is 720
The trunc of factorial of 6 is 720
The factorial of 7 is 5040
The ceil of factorial of 7 is 5040
The floor of factorial of 7 is 5040
The trunc of factorial of 7 is 5040
The factorial of 8 is 40320
The ceil of factorial of 8 is 40320
The floor of factorial of 8 is 40320
The trunc of factorial of 8 is 40320
The factorial of 9 is 362880
The ceil of factorial of 9 is 362880
The floor of factorial of 9 is 362880
The trunc of factorial of 9 is 362880

In [79]:
mt.perm(10,3) # permutation calculaltion n!/(n-k)! where n>=k

720

In [81]:
mt.comb(10,3) # combination calculaltion n!/(n-k)! * k! where n>=k

120

Explore other function fo the math module

Comprehentions in Python

In [84]:
import numpy as np

a=np.random.rand(10)
print(a)

[0.70074973 0.97355754 0.8497252  0.02239067 0.63635167 0.98732565
 0.68486796 0.75301032 0.85705832 0.2845204 ]

In [88]:
str="Rohit Maity"

x=[var for var in str.split(" ")] # [function(x) for x in function(x)]
print(x)

['Rohit', 'Maity']