In [1]:
import pandas as pd

In [2]:
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print (s)

0   -0.197894
1    0.766663
2   -0.137519
3   -0.960715
dtype: float64

In [3]:
#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

empty

Returns the Boolean value saying whether the Object is empty or not. True indicates that the object is empty.

In [4]:
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [5]:
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0    0.015514
1   -1.780545
2    2.881240
3   -1.470141
dtype: float64
The dimensions of the object:
1

In [6]:
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print (s.size)

0   -0.242392
1    0.758517
dtype: float64
The size of the object:
2

In [7]:
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0    0.978341
1   -0.366893
2    1.181748
3   -2.456781
dtype: float64
The actual data series is:
[ 0.97834141 -0.36689261  1.18174817 -2.45678104]

Head & Tail 

To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.

head() returns the first n rows(observe the index values). 
The default number of elements to display is five, but you may pass a custom number.

In [8]:
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0   -1.986542
1    0.421847
2   -0.168097
3    0.979046
dtype: float64
The first two rows of the data series:
0   -1.986542
1    0.421847
dtype: float64

In [9]:
print ("The last two rows of the data series:")
print (s.tail(2))

The last two rows of the data series:
2   -0.168097
3    0.979046
dtype: float64

In [10]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [12]:
# Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print(df)
print ("The transpose of the data series is:")
print (df.T)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80
The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [13]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [14]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

A large number of methods collectively compute descriptive statistics and other related operations on DataFrame. 
Most of these are aggregations like sum(), mean(), but some of them, like sumsum(), produce an object of the same size. Generally speaking, these methods take an axis argument, just like ndarray.{sum, std, ...}, but the axis can be specified by name or integer


DataFrame − “index” (axis=0, default), “columns” (axis=1)


Let us create a DataFrame and use this object throughout this chapter for all the operations.

In [15]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [19]:
print (df.sum(axis=0)) # column wise addition
print (df.sum(axis=1)) # row wise addition

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object
0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

C:\Users\11037833\AppData\Local\Temp/ipykernel_18944/2362065026.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.sum(axis=1)) # row wise addition

In [22]:
df = pd.DataFrame(d)
print (df.mean(axis=0))
print (df.mean(axis=1))

Age       31.833333
Rating     3.743333
dtype: float64
0     14.615
1     14.620
2     14.490
3     12.780
4     16.600
5     16.800
6     13.400
7     18.890
8     21.490
9     17.400
10    27.550
11    24.825
dtype: float64

C:\Users\11037833\AppData\Local\Temp/ipykernel_18944/3904662104.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.mean(axis=0))
C:\Users\11037833\AppData\Local\Temp/ipykernel_18944/3904662104.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.mean(axis=1))

In [23]:
print (df.std(axis=0))
print(df.std(axis=1))

Age       9.232682
Rating    0.661628
dtype: float64
0     14.686608
1     16.093750
2     14.863385
3     14.453263
4     18.950462
5     17.253405
6     13.576450
7     21.368767
8     26.177093
9     17.819091
10    33.163308
11    29.945972
dtype: float64

C:\Users\11037833\AppData\Local\Temp/ipykernel_18944/1389515899.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.std(axis=0))
C:\Users\11037833\AppData\Local\Temp/ipykernel_18944/1389515899.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std(axis=1))

In [24]:
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

To apply your own or another library’s functions to Pandas objects, you should be aware of the three important methods. The methods have been discussed below. The appropriate method to use depends on whether your function expects to operate on an entire DataFrame, row- or column-wise, or element wise.

Table wise Function Application: pipe()
Row or Column Wise Function Application: apply()
Element wise Function Application: applymap()
Table-wise Function Application
Custom operations can be performed by passing the function and the appropriate number of parameters as pipe arguments. Thus, operation is performed on the whole DataFrame.

For example, add a value 2 to all the elements in the DataFrame. Then,

In [28]:
def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
df.pipe(adder,2) # takes each elemnt of the df and adds 2 to it using function of adder defined earlier

       col1      col2      col3
0 -0.078359 -1.121406 -1.479560
1  0.566250  1.467076 -0.152005
2  0.768791  0.761842  1.316007
3 -1.620273 -0.664857  0.113560
4  1.258684  0.331184  2.351012

       col1      col2      col3
0  1.921641  0.878594  0.520440
1  2.566250  3.467076  1.847995
2  2.768791  2.761842  3.316007
3  0.379727  1.335143  2.113560
4  3.258684  2.331184  4.351012

In [29]:
print (df.apply(np.mean))

col1    0.179019
col2    0.154768
col3    0.429803
dtype: float64

Row or Column Wise Function Application
Arbitrary functions can be applied along the axes of a DataFrame or Panel using the apply() method, which, like the descriptive statistics methods, takes an optional axis argument. By default, the operation performs column wise, taking each column as an array-like.

In [31]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print (df.apply(np.mean))

col1   -0.166266
col2    0.393648
col3   -0.744160
dtype: float64

In [34]:
print(df.apply(np.mean,axis=1))
print (df.apply(np.mean,axis=0))

0    0.214175
1   -1.093576
2    0.473793
3    0.459836
4   -0.915524
dtype: float64
col1   -0.166266
col2    0.393648
col3   -0.744160
dtype: float64

In [35]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(lambda x: x.max() - x.min())
print (df.apply(np.mean))

col1    0.387891
col2    0.066467
col3   -0.574916
dtype: float64

Element Wise Function Application
Not all functions can be vectorized (neither the NumPy arrays which return another array nor any value), the methods applymap() on DataFrame and analogously map() on Series accept any Python function taking a single value and returning a single value.

In [38]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

# My custom function
print(df['col1'].map(lambda x:x*100))
print (df.apply(np.mean))

       col1      col2      col3
0  0.780130  0.482023  0.174533
1 -0.187277 -1.138081  0.450892
2 -0.348725  1.207817 -0.148049
3 -0.359032 -1.874072 -1.259495
4  0.227667 -0.750515 -1.068407
0    78.012960
1   -18.727727
2   -34.872464
3   -35.903214
4    22.766694
Name: col1, dtype: float64
col1    0.022552
col2   -0.414566
col3   -0.370105
dtype: float64

In [41]:
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})
print(df)

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

print (df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.084043    High   98.933828
1  2016-01-02   1.0  0.275015    High   92.112604
2  2016-01-03   2.0  0.363639     Low   96.705351
3  2016-01-04   3.0  0.958211     Low   75.451729
4  2016-01-05   4.0  0.915286     Low   93.693259
5  2016-01-06   5.0  0.347792    High  104.908755
6  2016-01-07   6.0  0.152281  Medium   93.199210
7  2016-01-08   7.0  0.799054    High  107.637890
8  2016-01-09   8.0  0.560671     Low   95.373084
9  2016-01-10   9.0  0.795462    High  102.545319
10 2016-01-11  10.0  0.104964    High  100.208174
11 2016-01-12  11.0  0.503871     Low  109.000709
12 2016-01-13  12.0  0.737013     Low  108.936117
13 2016-01-14  13.0  0.888267     Low   98.787205
14 2016-01-15  14.0  0.831423  Medium   92.216262
15 2016-01-16  15.0  0.185758     Low   91.364753
16 2016-01-17  16.0  0.542553     Low  101.214803
17 2016-01-18  17.0  0.559449  Medium  104.195229
18 2016-01-19  18.0  0.117600  Medium   98.981586
19 2016-01-20  19.0  0.439546     Low  101.325168
           A     C   B
0 2016-01-01  High NaN
2 2016-01-03   Low NaN
5 2016-01-06  High NaN